<%= render :partial => "/catalog/partials/navbar_loggedin" %>

<div class="hidden">
  <%= next_frame "image" %>
  <%= previous_frame "archival_item" %>
</div>

<div class="container-fluid" id="main">

<div class="alert alert-info fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4 class="alert-heading">Digitized EAD Item</h4>
  <p>
    Standard display page for any item-level component that originated in a finding aid, but has since been
    digitized and ingested into Hydra.  <b>Note: this is still the record as it appears in the finding aid!</b>
    The only different is that the digital content is viewable via the pane on the right.  There now exists
    an additional record in Blacklight, originating from Hydra, that also corresponds to this item.
  </p>
</div>

<div class="row-fluid">

  <%= render :partial => "/catalog/partials/record_controls" %>

  <div class="row-fluid">

    <div class="span3">
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="#description" data-toggle="tab">Description</a></li>
        <li><a href="#restrictions" data-toggle="tab">Restrictions</a></li>
        <li><a href="#subjects" data-toggle="tab">Subjects</a></li>
        <li><a href="#inventory" data-toggle="tab">Collection Inventory</a></li>
      </ul>
    </div>
    
    <div class="span9">
      <ul class="breadcrumb">
        <li><a href="#">Herb Staehr Collection</a> <span class="divider">/</span></li>
        <li><a href="#">Series I: Papers, circa 1970s-2007, undated</a><span class="divider">/</span></li>
        <li class="active">Bootleg discographies, Blind Faith and Cream, 1998</li>
      </ul>

      <div class="row-fluid">
        <div class="span6">
          <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>
              Note: this is just the metadata from the ead.  No additional information from
              Hydra is displayed here, other than the digital content on the right.
            </p>
          </div>

          <h4>Bootleg discographies, Blind Faith and Cream, 1998</h4>
          <dl class="dl-horizontal">
            <dt>Location:</dt>
            <dd>Box: 1, Folder: 3 (Text)</dd>
          </dl>
        </div>
        <div class="span6">
          <div class="well">
            viewing interface goes here for image, pdf, a/v, etc.
            <%= ("<br/>"*20).html_safe %>
          </div>
        </div>
      </div>
    </div>
  
  </div>

</div>
</div>