<div class="hidden">
  <%= next_frame "archival_item" %>
  <%= previous_frame "archival_series_digital" %>
</div>

<div class="alert alert-info fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4 class="alert-heading">Digitized EAD Item</h4>
  <p>
    Standard display page for any item-level component that originated in a finding aid, but has since been
    digitized and ingested into Hydra.  <b>Note: this is still the record as it appears in the finding aid!</b>
    The only different is that the digital content is viewable via the pane on the right.  There now exists
    an additional record in Blacklight, originating from Hydra, that also corresponds to this item.
  </p>
</div>

<%= render :partial => "/catalog/partials/record_controls" %>

<div class="col-sm-4 col-md-3 col-lg-2">
  <ul class="nav nav-tabs nav-stacked">
    <li><a href="#summary" data-toggle="tab">Summary</a></li>
    <li><a href="#description" data-toggle="tab">Description</a></li>
    <li><a href="#restrictions" data-toggle="tab">Restrictions</a></li>
    <li><a href="#subjects" data-toggle="tab">Find More</a></li>
    <li><a href="#inventory" data-toggle="tab">Collection Inventory</a></li>
  </ul>
</div>

<div class="col-sm-8 col-md-9 col-lg-10">
    
  <ul class="breadcrumb">
    <li><a href="#">Herb Staehr Collection</a></li>
    <li><a href="#">Series I: Papers</a></li>
    <li class="active">Bootleg discographies, Blind Faith and Cream</li>
  </ul>

  <div class="row">

    <div class="col-md-5 col-md-push-7 col-lg-6 col-lg-push-6">
      <div class="well">
        viewing interface goes here for image, pdf, a/v, etc.
        <%= ("<br/>"*20).html_safe %>
      </div>
    </div>

    <div class="col-md-7 col-md-pull-5 col-lg-6 col-lg-pull-6">

      <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p>
          Note: this is just the metadata from the ead.  No additional information from
          Hydra is displayed here, other than the digital content on the right.
        </p>
      </div>

      <h4>Series I: Papers, circa 1970s-2007, undated</h4>
      <dl class="dl-horizontal">
        <dt>Scope and Content:</dt>
        <dd>
          Series I: Papers, which spans circa 1970s to 2007 and includes some undated material,
          is arranged alphabetically by subject. It mainly consists of Staehr’s correspondence
          and drafts of his book, Alvin Lee and Ten Years After: A Visual History. Clippings
          come primarily from, but are not limited to, the Dutch music magazine Muziek Express
          and contain photographs and some music reviews. The video and audio inventories listed
          at the end of the series likely correspond to the audiovisuals in the collection.
        </dd>
      </dl>

      <h4>Bootleg discographies, Blind Faith and Cream, 1998</h4>
      <dl class="dl-horizontal">
        <dt>Location:</dt>
        <dd>Box: 1, Folder: 3</dd>
        <dt>Archival Material:</dt>
        <dd><%= link_to "Text" %></dd>
      </dl>
    
    </div>
  
  </div>
  
</div>
