<%= render :partial => "/catalog/partials/navbar_loggedin" %>

<div class="hidden">
  <%= next_frame "archival_series_mixed" %>
  <%= previous_frame "finding_aid" %>
</div>

<div class="container-fluid" id="main">

<div class="alert alert-info fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4 class="alert-heading">EAD Series</h4>
  <p>
    Any EAD series component can be displayed as its own page, with a breadcrumb trail giving its position within
    the finding aid, and listing additional items or subseries that are contained within it.  The 
    <span class="badge">Available online</span> badge indicates an item has been digitized and can be viewed 
    or listened to online.
  </p>
</div>

<div class="row-fluid">

  <%= render :partial => "/catalog/partials/record_controls" %>

  <div class="row-fluid">

    <div class="span3">
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="#description" data-toggle="tab">Description</a></li>
        <li><a href="#restrictions" data-toggle="tab">Restrictions</a></li>
        <li><a href="#subjects" data-toggle="tab">Subjects</a></li>
        <li><a href="#inventory" data-toggle="tab">Collection Inventory</a></li>
        <li><a href="#collection_search" data-toggle="tab">Search Collection</a></li>
      </ul>
    </div>
    
    <div class="span9">
        
      <ul class="breadcrumb">
        <li><a href="#">Herb Staehr Collection</a> <span class="divider">/</span></li>
        <li class="active">Series I: Papers, circa 1970s-2007, undated</li>
      </ul>

      <h4>Series I: Papers, circa 1970s-2007, undated</h4>
      <dl class="dl-horizontal">
        <dt>Scope and Content</dt>
        <dd>
          Series I: Papers, which spans circa 1970s to 2007 and includes some undated material, is arranged alphabetically by
          subject. It mainly consists of Staehr’s correspondence and drafts of his book, Alvin Lee and Ten Years After: A Visual
          History. Clippings come primarily from, but are not limited to, the Dutch music magazine Muziek Express and contain
          photographs and some music reviews. The video and audio inventories listed at the end of the series likely correspond to
          the audiovisuals in the collection.
        </dd>
      </dl>
      <table id="inventory_table" class="table table-condensed table-striped table-hover">
        <tr><th>Item</th><th>Materials</th></tr>
        <tr><td><%= link_to "Biography, Ten Years After, undated" %></td><td>Box: 1, Folder: 1 <i class="icon-book pull-right"></i></td></tr>
        <tr><td><%= link_to "Book Web site, undated" %></td><td>Box: 1, Folder: 2 <i class="icon-book pull-right"></i></td></tr>
        <tr>
          <td><%= link_to "Bootleg discographies, Blind Faith and Cream, 1998" %> <span class="badge">Available online</span></td>
          <td>Box: 1, Folder: 3 <i class="icon-book pull-right"></i></td>
        </tr>
        <tr><td><%= link_to "Clippings" %></td></tr>
        <tr><td><%= link_to "Correspondence" %></td></tr>
        <tr>
          <td>
            <%= link_to "Draft, Alvin Lee and Ten Years After: A Visual History, circa 2001" %>
          </td>
          <td>
            <span class="block">Box: 2, Folder: 1-6 <i class="icon-book pull-right"></i></span>
            <span class="block">Box: 2, Folder: 7 <i class="icon-picture pull-right"></i></span>
          </td>
        </tr>
        <tr><td><%= link_to "Draft, cover and text copy, Alvin Lee and Ten Years After: A Visual History, circa 2001" %></td><td>Box: 2, Folder: 7 <i class="icon-book pull-right"></i></td></tr>
        <tr><td><%= link_to "Inventory, Ten Years After videos, undated" %></td><td>Box: 2, Folder: 8 <i class="icon-book pull-right"></i></td></tr>
        <tr><td><%= link_to "Page mock-ups, Alvin Lee and Ten Years After, circa 2001" %></td><td>Box: 2, Folder: 9-10 <i class="icon-book pull-right"></i></td></tr>
        <tr><td><%= link_to "Research files, miscellaneous, 1998-2000, undated" %></td><td>Box: 2, Folder: 11 <i class="icon-book pull-right"></i></td></tr>
        <tr><td><%= link_to "Ten Years After Now tour, 2007" %></td><td>Box: 2, Folder: 12 <i class="icon-book pull-right"></i></td></tr>
        <tr><td><%= link_to "Video and audio inventories" %></td></tr>
        <tr><td><%= link_to "Video list markup, undated" %></td><td>Box: 2, Folder: 15 <i class="icon-book pull-right"></i></td></tr>

      </table>

      <div id="lastPostsLoader"></div>


<script type="text/javascript">
$(document).ready(function(){
    function lastAddedLiveFunc()
    {
      var row = '<tr><td><%= link_to "More item level components" %></td><td>Box: X, Folder: Y <i class="icon-picture pull-right"></i></td></tr>';
      $('#inventory_table').append(row);
        
    };

    //lastAddedLiveFunc();
    $(window).scroll(function(){

        var wintop = $(window).scrollTop(), docheight = $(document).height(), winheight = $(window).height();
        var  scrolltrigger = 0.95;

        if  ((wintop/(docheight-winheight)) > scrolltrigger) {
         //console.log('scroll bottom');
         lastAddedLiveFunc();
        }
    });
});
</script>

    </div>
  
  </div>

</div>
</div>