<%= render :partial => "/catalog/partials/navbar_loggedin" %>

<div class="hidden">
  <%= next_frame "finding_aid" %>
  <%= previous_frame "results" %>
</div>

<div class="container-fluid" id="main">

<div class="alert alert-info fade in">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4 class="alert-heading">MARC record display page</h4>
  <p>
    Display page for anything in MARC format.  Right-hand pane is for Google books results, holdings
    information, staus, etc.
  </p>
</div>

<div class="row-fluid">

  <%= render :partial => "/catalog/partials/record_controls" %>

  <!-- Record display row -->
  <div class="row-fluid">
    <div class="span6">
      <h4>Everything Elvis / Pauline Bartel</h4>
      <dl class="dl-horizontal">
        <dt>Title:</dt>
        <dd>Everything Elvis / Pauline Bartel</dd>
        <dt>Additional Titles:</dt>
        <dd>Elvis</dd>           
        <dt>Author:</dt>
        <dd><a href="#">Bartel, Pauline C</a></dd>
        <dt>Format:</dt>
        <dd>Book</dd>
        <dt>Physical Details:</dt>
        <dd>172 p. : ill. ; 26 cm</dd>
        <dt>Subjects:</dt>
        <dd>
          <%= link_to "Presley, Elvis, 1935-1977", "#" %><br/>
          <%= link_to "Presley, Elvis, 1935-1977" %>--<%= link_to "Collectibles" %><br/>
          <%= link_to "Inductee", "#" %>
        </dd>
        <dt>Publisher:</dt>
        <dd>Dallas, Tex. : Taylor Pub. Co., c1995</dd>
        <dt>Call Number:</dt>
        <dd>
          ML420.P747 B378 1995<br/>
          ML420.P747 B378E9 1995
        </dd>
        <dt>ISBN:
        <dd>
          0878338780<br/>
          9780878338788
        </dd>
        <dt>OCLC No.:</dt>
        <dd>31518608</dd>
        <dt>Notes:</dt>
        <dd>Sourcebook to Elvis memorabilia, souvenirs and collectibles</dd>
       </dl>
    </div>

    <div class="span6 well">
      <label class="checkbox"><input type="checkbox"> Bookmark </label>
      <span class="badge badge-warning">Checked out</span>
      <!-- https://www.googleapis.com/books/v1/volumes?q=isbn:0878338780 -->
      <img src="http://bks2.books.google.com/books?id=gxYsVYxeaWIC&printsec=frontcover&img=1&zoom=1&source=gbs_api"/>
    </div>
  </div>

</div>
</div>